<!DOCTYPE html>
<!--
	Transitive by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
  <head>
    <title>DestiPro Travel Solutions</title>
    <meta charset="utf-8" />
    <meta
      name="robots"
      content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
  </head>
  <body>
    <!-- Header -->
    <header id="header" class="alt">
      <div class="logo">
        <a href="index.html">DestiPro Travel Solutions</a>
      </div>
      <!-- <a href="#menu" class="toggle"><span>Menu</span></a> -->
    </header>
    <!-- Nav -->
    <!-- <nav id="menu">
      <ul class="links">
        <li><a href="#footer">Contact Us</a></li>
        <li><a href="generic.html">Generic</a></li>
        <li><a href="elements.html">Elements</a></li>
      </ul>
    </nav> -->
    <!-- Banner --><!--
			To use a video as your background, set data-video to the name of your video without
			its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
			formats to work correctly.
		-->
    <section id="banner" data-video="images/banner">
      <div class="inner">
        <img src="./images/logo2.png" style="height: 300px; width: auto;" alt="" />
        <!-- <p>Regional presence of Global Brands</p> -->
      </div>
    </section>
    <section id="one" class="wrapper style2">
      <div class="inner">
        <header style="text-align: center">
          <h2>About Us</h2>
          <p>
            DestiPro Travel Solutions [DestiPro] offer sales, marketing management, 
            consultancy, and digital solution to Hotels, Resort, Destination Management Companies, 
            Tourism Boards. We generate revenue for our clients via multi-faceted strategic 
            approach of Branding, Marketing, Events, Public relations and Promotional activities.  
          </p>
        </header>
        <br>
        <header style="text-align: center">
          <h2>Our Vision</h2>
          <p>
            To be the most trusted and respected partner in the travel industry 
            and to create new opportunities for growth in our strategic business. 
            We aim to maintain our vision by providing high-quality services at 
            reasonable prices through consistent dedication, leadership, and excellent commitment.   
          </p>
        </header>
        <br>
        <header style="text-align: center">
          <h2>Our Reach</h2>
          <p>
            Our reach ranges from hotel representation, destination management, travel 
            and tourism. We have an experienced staff of destination marketers, hotel sellers, 
            holiday sellers, and other industry experts to generate valuable leads for our clients. 
            We offer a wide range of representation services to our clients, complying with 
            their expectations, objectives and goals. We have got the solution for every client 
            according to their requirement and budget.   
          </p>
        </header>
      </div>
    </section>
    <section id="four" class="wrapper style2">
      <div class="inner">
        <header class="align-center">
          <h2>What We Do</h2>
        </header>
        <div id="flexgrid">
          <div>
            <!-- <header><h3>Tempus Feugiat</h3></header> -->
            <img src="./images/gdp.png" style="height: 90px" alt="" />
            <p>Strategic Marketing Campaigns</p>
            <p> We design and execute customized marketing campaigns that highlight 
                the unique offerings of our clients, ensuring maximum reach and engagement. 
            </p>
            <!-- <ul class="actions">
              <li><a href="#" class="button alt">Learn More</a></li>
            </ul> -->
          </div>
          <div>
            <!-- <header><h3>Aliquam Nulla</h3></header> -->
            <img src="./images/airplane.png" style="height: 90px" alt="" />
            <p>Brand Representation</p>
            <p>
              We act as ambassadors for our clients, promoting their brands with integrity 
              and passion to travel agents, tour operators and other key stakeholders. 
              Industry Expertise: Our deep understanding of the travel industry allows us to 
              provide insights and strategies that drive success.
            </p>
            <!-- <ul class="actions">
              <li><a href="#" class="button alt">Learn More</a></li>
            </ul> -->
          </div>
          <div>
            <!-- <header><h3>Sed Magna</h3></header> -->
            <img src="./images/Market.png" style="height: 90px" alt="" />
            <p>Relationship Building</p>
            <p>
              We foster strong, lasting relationships between our clients and their audiences, 
              ensuring sustained growth and loyalty. 
            </p>
            <!-- <ul class="actions">
              <li><a href="#" class="button alt">Learn More</a></li>
            </ul> -->
          </div>
          <div></div>
          <div>
            <!-- <header><h3>Sed Magna</h3></header> -->
            <img src="./images/UPI.png" style="height: 90px" alt="" />
            <p>Innovative Solutions</p>
            <p>
              We leverage the latest marketing tools and techniques to 
              keep our clients ahead of industry trends. 
            </p>
            <!-- <ul class="actions">
              <li><a href="#" class="button alt">Learn More</a></li>
            </ul> -->
          </div>
          <div></div>
        </div>
      </div>
    </section>
    <!-- Two -->
    <section id="two" class="wrapper style3">
      <div class="inner">
        <header style="text-align: center">
          <h2>Why Choose Us?</h2>
          <p>
            Choosing DestiPro Travel Solutions [DestiPro] means partnering with a team 
            that is passionate about your success. We take pride in our ability to deliver 
            personalized, effective marketing representation that not only meets but exceeds 
            expectations. Our commitment to excellence and innovation ensures that our clients 
            are always at the forefront of the travel industry. 
          </p>
        </header>
      </div>
    </section>
    <!-- Three -->
    <section id="three" class="wrapper style2">
      <div class="inner">
        <!-- Container for the image gallery -->
        <div class="container">
          <!-- Full-width images with number text -->
          <div class="mySlides">
            <div class="numbertext">1 / 6</div>
            <img src="images/pic02.jpg" style="width: 100%; height: 700px;" />
          </div>

          <div class="mySlides">
            <div class="numbertext">2 / 6</div>
            <img src="images/pic03.jpg" style="width: 100%; height: 700px;" />
          </div>

          <div class="mySlides">
            <div class="numbertext">3 / 6</div>
            <img src="images/pic04.jpg" style="width: 100%; height: 700px;" />
          </div>

          <div class="mySlides">
            <div class="numbertext">4 / 6</div>
            <img src="images/pic02.jpg" style="width: 100%; height: 700px;" />
          </div>

          <div class="mySlides">
            <div class="numbertext">5 / 6</div>
            <img src="images/pic03.jpg" style="width: 100%; height: 700px;" />
          </div>

          <div class="mySlides">
            <div class="numbertext">6 / 6</div>
            <img src="images/pic04.jpg" style="width: 100%; height: 700px;" />
          </div>

          <!-- Next and previous buttons -->
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>

          <!-- Image text -->
          <div class="caption-container">
            <p id="caption"></p>
          </div>

          <!-- Thumbnail images -->
          <div class="row">
            <div class="column">
              <img
                class="demo cursor"
                src="images/pic02.jpg"
                style="width: 100%; height: 90px;"
                onclick="currentSlide(1)"
                alt="The Woods"
              />
            </div>
            <div class="column">
              <img
                class="demo cursor"
                src="images/pic03.jpg"
                style="width: 100%; height: 90px;"
                onclick="currentSlide(2)"
                alt="Cinque Terre"
              />
            </div>
            <div class="column">
              <img
                class="demo cursor"
                src="images/pic04.jpg"
                style="width: 100%; height: 90px;"
                onclick="currentSlide(3)"
                alt="Mountains and fjords"
              />
            </div>
            <div class="column">
              <img
                class="demo cursor"
                src="images/pic02.jpg"
                style="width: 100%; height: 90px;"
                onclick="currentSlide(4)"
                alt="Northern Lights"
              />
            </div>
            <div class="column">
              <img
                class="demo cursor"
                src="images/pic03.jpg"
                style="width: 100%; height: 90px;"
                onclick="currentSlide(5)"
                alt="Nature and sunrise"
              />
            </div>
            <div class="column">
              <img
                class="demo cursor"
                src="images/pic04.jpg"
                style="width: 100%; height: 90px;"
                onclick="currentSlide(6)"
                alt="Snowy Mountains"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Four -->
    <section id="four" class="wrapper style3">
      <div class="inner">
        <header class="align-center">
          <h2>
            Our Target Audience Includes
          </h2>
        </header>
        <div id="flexgrid">
          <div>
            <!-- <header><h3>Tempus Feugiat</h3></header> -->
            <img src="./images/gdp.png" style="height: 90px" alt="" />
            <p>B2B</p>
            <!-- <ul class="actions">
              <li><a href="#" class="button alt">Learn More</a></li>
            </ul> -->
          </div>
          <div>
            <!-- <header><h3>Aliquam Nulla</h3></header> -->
            <img src="./images/airplane.png" style="height: 90px" alt="" />
            <p>B2C</p>
            <!-- <ul class="actions">
              <li><a href="#" class="button alt">Learn More</a></li>
            </ul> -->
          </div>
          <div>
            <!-- <header><h3>Sed Magna</h3></header> -->
            <img src="./images/Market.png" style="height: 90px" alt="" />
            <p>M.I.C.E</p>
            <!-- <ul class="actions">
              <li><a href="#" class="button alt">Learn More</a></li>
            </ul> -->
          </div>
          <div>
            <!-- <header><h3>Sed Magna</h3></header> -->
            <img src="./images/UPI.png" style="height: 90px" alt="" />
            <p>DESTINATION WEDDING</p>
            <!-- <ul class="actions">
              <li><a href="#" class="button alt">Learn More</a></li>
            </ul> -->
          </div>
          <div></div>
          <div>
            <!-- <header><h3>Sed Magna</h3></header> -->
            <img src="./images/UPI.png" style="height: 90px" alt="" />
            <p>EDUCATIONAL TOUR</p>
            <!-- <ul class="actions">
              <li><a href="#" class="button alt">Learn More</a></li>
            </ul> -->
          </div>
        </div>
      </div>
    </section>
    <footer id="footer">
      <div class="inner">
        <div class="content">
          <section style="padding-left: 100px;">
            <h3>Get in Touch</h3>
            <form method="post" action="{% url 'contact' %}">
              <!-- {% csrf_token %} -->
              <div class="field half first">
                <!-- <label for="name">Name</label> -->
                <input name="name" id="name" type="text" placeholder="Name" />
              </div>
              <br>
              <div class="field half">
                <!-- <label for="email">Email</label> -->
                <input
                  name="email"
                  id="email"
                  type="email"
                  placeholder="Email"
                />
              </div>
              <br>
              <div class="field half first">
                <!-- <label for="contactNumber">Contact</label> -->
                <input
                  name="contactNumber"
                  id="contactNumber"
                  type="text"
                  placeholder="Contact"
                />
              </div>
              <br>
              <div class="field">
                <!-- <label for="message">Message</label> -->
                <textarea
                  name="message"
                  id="message"
                  rows="6"
                  placeholder="Message"
                ></textarea>
              </div>
              <input type="hidden" name="next" value="{{ request.path }}">
              <br>
              <button type="submit">Send Message</button>
            </form>
          </section>
          <section>
            <h4>Address</h4>
            <ul class="alt">
              <li><a href="#">Dolor pulvinar sed etiam.</a></li>
            </ul>
            <h4>Email</h4>
            <ul class="alt">
              <li><a href="#">Dolor pulvinar sed etiam.</a></li>
            </ul>
            <h4>Contact</h4>
            <ul class="alt">
              <li><a href="#">Dolor pulvinar sed etiam.</a></li>
            </ul>
          </section>
          <section>
            <h4>Socials</h4>
            <ul class="plain">
              <li>
                <a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a>
              </li>
              <li>
                <a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a>
              </li>
              <li>
                <a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a>
              </li>
              <li>
                <a href="#"><i class="icon fa-github">&nbsp;</i>Github</a>
              </li>
            </ul>
          </section>
        </div>
      </div>
    </footer>    
    <!-- <div class="copyright"> -->
      <!-- Powered by: <a href="https://templated.co/">Templated.co</a>. -->
    <!-- </div> -->

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/destinationDrawer.js"></script>
  </body>
</html>
